# 품목별 수출입실적 분석
- 데이터 읽기 (0~3행 skip)
- 상위 5개 데이터 확인하기
- 불필요한 행 삭제 및 인덱스 초기화
  - 0, 485 행 : '총계', '설명' 에 해당하는 row 삭제
  - 인덱스를 0부터 초기화
- 컬럼 데이터 타입 변경
  - 수출중량~무역수지 : Object 타입 ==> float으로 데이터 타입 변경
- 연도별 무역수지 평균 및 합계
- 연도별 무역수지가 가장 적은 품목은?

In [47]:
import numpy as np
import pandas as pd

In [81]:
# 데이터 읽기
df = pd.read_excel('./품목별  수출입실적_20230232.xls', skiprows = [0, 1, 2, 3])
#display(df.head(10))
print(df.head(10))
print(df.tail(5))

     기간                                                품목명  품목코드  \
0    총계                                                NaN   NaN
1  2018                                           살아 있는 동물   1.0
2  2018                                       육과 식용 설육(屑肉)   2.0
3  2018                     어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물   3.0
4  2018          낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품   4.0
5  2018                              다른 류로 분류되지 않은 동물성 생산품   5.0
6  2018  살아 있는 수목과 그 밖의 식물, 인경(鱗莖)ㆍ뿌리와 이와 유사한 물품, 절화(切花...   6.0
7  2018                                   식용의 채소ㆍ뿌리ㆍ괴경(塊莖)   7.0
8  2018                            식용의 과실과 견과류, 감귤류ㆍ멜론의 껍질   8.0
9  2018                                  커피ㆍ차ㆍ마테(maté)ㆍ향신료   9.0

            수출중량             수입중량           수출금액           수입금액         무역수지
0  967,575,781.9  2,886,113,032.4  2,985,863,296  2,852,488,115  133,375,181
1           52.8          1,362.8          3,188         73,643      -70,455
2       32,982.9      1,220,751.0         38,226      5,123,574   -5,085,348
3      443,775.5      1,344,280.3      1,481,657      5,045,539   -3,563,882
4       25,791.3        275,193.1         54,342        932,004     -877,662
5       33,459.1         59,282.8         87,459        304,607     -217,148
6        3,278.2         71,265.8         20,744        122,965     -102,221
7      103,980.7      1,082,829.5        197,420        699,640     -502,220
8       60,084.4        955,404.7        195,747      1,920,945   -1,725,198
9        3,777.6        181,976.6         25,484        720,021     -694,537
       기간                                                품목명  품목코드       수출중량  \
481  2022  가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...  94.0  173,519.8
482  2022                         완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품  95.0   24,589.5
483  2022                                                 잡품  96.0   31,377.8
484  2022                                        예술품ㆍ수집품ㆍ골동품  97.0      194.4
485  2022  입법 ; 설치된 간이 수정에 따른 입법을 트레이드한다 ; 추가적 수입제한농업인 것의...  99.0        0.0

          수입중량       수출금액       수입금액        무역수지
481  788,165.4  1,391,227  3,953,532  -2,562,305
482  199,833.0    551,628  3,097,641  -2,546,013
483  109,544.2    512,519  1,031,415    -518,896
484    1,260.3    277,020    811,387    -534,367
485   16,205.5          0          0           0

In [82]:
# 상위 5개 데이터 확인하기
display(df.head(5))
display(df.tail(5))

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
0,총계,NaN,NaN,"967,575,781.9","2,886,113,032.4","2,985,863,296","2,852,488,115","133,375,181"
1,2018,살아 있는 동물,1.0,52.8,"1,362.8","3,188","73,643","-70,455"
2,2018,육과 식용 설육(屑肉),2.0,"32,982.9","1,220,751.0","38,226","5,123,574","-5,085,348"
3,2018,어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물,3.0,"443,775.5","1,344,280.3","1,481,657","5,045,539","-3,563,882"
4,2018,"낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품",4.0,"25,791.3","275,193.1","54,342","932,004","-877,662"

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
481,2022,"가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...",94.0,"173,519.8","788,165.4","1,391,227","3,953,532","-2,562,305"
482,2022,완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품,95.0,"24,589.5","199,833.0","551,628","3,097,641","-2,546,013"
483,2022,잡품,96.0,"31,377.8","109,544.2","512,519","1,031,415","-518,896"
484,2022,예술품ㆍ수집품ㆍ골동품,97.0,194.4,"1,260.3","277,020","811,387","-534,367"
485,2022,입법 ; 설치된 간이 수정에 따른 입법을 트레이드한다 ; 추가적 수입제한농업인 것의...,99.0,0.0,"16,205.5",0,0,0

In [83]:
df = df.drop([0, 485])

In [84]:
# 불필요한 행 삭제 및 인덱스 초기화
    # 0, 485 행 : '총계', '설명' 에 해당하는 row 삭제
    # 인덱스를 0부터 초기화

df = df.reset_index(drop = True) # 기존 인덱스 초기화
display(df.head(5))
display(df.tail(5))

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
0,2018,살아 있는 동물,1.0,52.8,"1,362.8","3,188","73,643","-70,455"
1,2018,육과 식용 설육(屑肉),2.0,"32,982.9","1,220,751.0","38,226","5,123,574","-5,085,348"
2,2018,어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물,3.0,"443,775.5","1,344,280.3","1,481,657","5,045,539","-3,563,882"
3,2018,"낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품",4.0,"25,791.3","275,193.1","54,342","932,004","-877,662"
4,2018,다른 류로 분류되지 않은 동물성 생산품,5.0,"33,459.1","59,282.8","87,459","304,607","-217,148"

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
479,2022,무기ㆍ총포탄과 이들의 부분품과 부속품,93.0,"20,316.2","1,232.1","1,290,479","152,485","1,137,994"
480,2022,"가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...",94.0,"173,519.8","788,165.4","1,391,227","3,953,532","-2,562,305"
481,2022,완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품,95.0,"24,589.5","199,833.0","551,628","3,097,641","-2,546,013"
482,2022,잡품,96.0,"31,377.8","109,544.2","512,519","1,031,415","-518,896"
483,2022,예술품ㆍ수집품ㆍ골동품,97.0,194.4,"1,260.3","277,020","811,387","-534,367"

In [71]:
# 컬럼 데이터 타입 변경
    # 수출중량~무역수지 : Object 타입 ==> float으로 데이터 타입 변경
print(df.info())
#print('-'*50)
df['수출중량'] = df['수출중량'].map(lambda x:x.replace(',', ''))
df['수입중량'] = df['수입중량'].map(lambda x:x.replace(',', ''))
df['수출금액'] = df['수출금액'].map(lambda x:x.replace(',', ''))
df['수입금액'] = df['수입금액'].map(lambda x:x.replace(',', ''))
df['무역수지'] = df['무역수지'].map(lambda x:x.replace(',', ''))
display(df.head(5))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      484 non-null    object
 1   품목명     484 non-null    object
 2   품목코드    484 non-null    float64
 3   수출중량    484 non-null    object
 4   수입중량    484 non-null    object
 5   수출금액    484 non-null    object
 6   수입금액    484 non-null    object
 7   무역수지    484 non-null    object
dtypes: float64(1), object(7)
memory usage: 30.4+ KB
None

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
0,2018,살아 있는 동물,1.0,52.8,1362.8,3188,73643,-70455
1,2018,육과 식용 설육(屑肉),2.0,32982.9,1220751.0,38226,5123574,-5085348
2,2018,어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물,3.0,443775.5,1344280.3,1481657,5045539,-3563882
3,2018,"낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품",4.0,25791.3,275193.1,54342,932004,-877662
4,2018,다른 류로 분류되지 않은 동물성 생산품,5.0,33459.1,59282.8,87459,304607,-217148

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      484 non-null    object
 1   품목명     484 non-null    object
 2   품목코드    484 non-null    float64
 3   수출중량    484 non-null    object
 4   수입중량    484 non-null    object
 5   수출금액    484 non-null    object
 6   수입금액    484 non-null    object
 7   무역수지    484 non-null    object
dtypes: float64(1), object(7)
memory usage: 30.4+ KB
None

In [74]:
# 예시 답안1
# 컬럼 데이터 타입 변경
    # 수출중량~무역수지 : Object 타입 ==> float으로 데이터 타입 변경
df[df.columns[3:]] = df[df.columns[3:]].replace(',', '', regex = True) # 정규표현식 사용
display(df.head(5))
display(df.tail(5))

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
0,2018,살아 있는 동물,1.0,52.8,1362.8,3188,73643,-70455
1,2018,육과 식용 설육(屑肉),2.0,32982.9,1220751.0,38226,5123574,-5085348
2,2018,어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물,3.0,443775.5,1344280.3,1481657,5045539,-3563882
3,2018,"낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품",4.0,25791.3,275193.1,54342,932004,-877662
4,2018,다른 류로 분류되지 않은 동물성 생산품,5.0,33459.1,59282.8,87459,304607,-217148

,기간,품목명,품목코드,수출중량,수입중량,수출금액,수입금액,무역수지
479,2022,무기ㆍ총포탄과 이들의 부분품과 부속품,93.0,20316.2,1232.1,1290479,152485,1137994
480,2022,"가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...",94.0,173519.8,788165.4,1391227,3953532,-2562305
481,2022,완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품,95.0,24589.5,199833.0,551628,3097641,-2546013
482,2022,잡품,96.0,31377.8,109544.2,512519,1031415,-518896
483,2022,예술품ㆍ수집품ㆍ골동품,97.0,194.4,1260.3,277020,811387,-534367

In [85]:
# 예시 답안2
for col in df.columns[3:]:
    df[col] = df[col].str.replace(',', '').astype(float)

- 기간별 데이터 수 확인

In [86]:
df['기간'].value_counts()

기간
2018    97
2019    97
2020    97
2021    97
2022    96
Name: count, dtype: int64

In [91]:
# 연도별 무역수지 평균 및 합계
grouped = df.groupby('기간')[['무역수지']].agg(['mean', 'sum'])
print(grouped)
print('-'*40)

grouped.columns = ['평균 무역수지', '총 무역수지']
print(grouped)
print('-'*40)

for col in ['평균 무역수지', '총 무역수지']:
    grouped[col] = grouped[col].apply(lambda x:f'{x:,.2f}')
print(grouped)

               무역수지
               mean         sum
기간
2018  713677.484536  69226716.0
2019  398311.340206  38636200.0
2020  459889.391753  44609271.0
2021  298289.474227  28934079.0
2022 -500323.916667 -48031096.0
----------------------------------------
            평균 무역수지      총 무역수지
기간
2018  713677.484536  69226716.0
2019  398311.340206  38636200.0
2020  459889.391753  44609271.0
2021  298289.474227  28934079.0
2022 -500323.916667 -48031096.0
----------------------------------------
          평균 무역수지          총 무역수지
기간
2018   713,677.48   69,226,716.00
2019   398,311.34   38,636,200.00
2020   459,889.39   44,609,271.00
2021   298,289.47   28,934,079.00
2022  -500,323.92  -48,031,096.00

In [94]:
# 연도별 무역수지가 가장 적은 품목은?
grouped = df.groupby('기간')[['품목명', '무역수지']]
for year, group in grouped:
    print('년도:', year)
    print(group.sort_values('무역수지').head(1))
    print('-'*90)

년도: 2018
                                           품목명        무역수지
26  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -98964778.0
------------------------------------------------------------------------------------------
년도: 2019
                                            품목명        무역수지
123  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -85162279.0
------------------------------------------------------------------------------------------
년도: 2020
                                            품목명        무역수지
220  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -61119425.0
------------------------------------------------------------------------------------------
년도: 2021
                                            품목명        무역수지
317  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -97560443.0
------------------------------------------------------------------------------------------
년도: 2022
                                            품목명         무역수지
414  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -153720416.0
------------------------------------------------------------------------------------------